{{ define "base" }}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/asserts/favicon.ico">

        <title>{{block "title" .}} {{end}}</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

        {{block "style" .}} {{end}}
    </head>

    <body>

    {{block "nav" .}} {{end}}

    <main role="main">
        {{template "title_content" .}}

        <div class="container">
            {{ if .Data.success }}<div class="alert alert-success" role="alert">{{range $value := .Data.success }}{{ $value }}<br/>{{end}}</div>{{end}}
            {{ if .Data.error }}<div class="alert alert-danger" role="alert">{{range $value := .Data.error }}{{ $value }}<br/>{{end}}</div>{{end}}
            {{template "content" .}}
            <hr>
        </div>
    </main>

    <footer class="container">
        <p>&copy; Sergey Saprykin 2020-{{now.UTC.Year}}</p>
    </footer>

    {{block "js" .}} {{end}}
    </body>
    </html>
{{ end }}