{{define "title"}}Oops! 500{{end}}

{{define "title_content"}}
    <div class="jumbotron page-404">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "content"}}
    <div class="container">
        <h2>500 - Internal Server Error</h2>
        <p>The HyperText Transfer Protocol (HTTP) 500 Internal Server Error server error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go To Homepage &raquo;</a></p>
    </div>
{{end}}