{{define "title"}}Customers{{end}}

{{define "title_content"}}{{end}}

{{define "content"}}
    <div class="row">&nbsp;</div>

    <div class="row">

    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        Create
    </div>
{{end}}