{{define "title"}}Customer edit{{end}}

{{define "title_content"}}{{end}}

{{define "content"}}
    <div id="legend">
        <legend><a href="/customers">Customers</a> -> <a href="/customer/{{ .Data.customer.id }}">{{ .Data.customer.first_name }} {{ .Data.customer.last_name }}</a> -> Edit</legend>
    </div>

    <div class="row col-md-12">
        <form class="col-md-12 form-horizontal" action="/customer/edit/{{ .Data.customer.id }}" method="post" autocomplete="off">
            <div class="form-group row">
                <label for="first_name" class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ if .Data.formData }}{{ .Data.formData.FirstName }}{{ else }}{{ .Data.customer.first_name }}{{ end }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="last_name" class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ if .Data.formData }}{{ .Data.formData.LastName }}{{ else }}{{ .Data.customer.last_name }}{{ end }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="birth_date" class="col-sm-4 col-form-label">Birth date</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="birth_date" name="birth_date" value="{{ if .Data.formData }}{{ .Data.formData.BirthDate }}{{ else }}{{ .Data.customer.birth_date }}{{ end }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="gender" class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <select id="gender" name="gender" class="form-control">
                        <option>Choose...</option>
                        <option value="male"{{ if .Data.formData }}{{ if eq .Data.formData.Gender "male" }} selected{{ end }}{{ else }}{{ if eq .Data.customer.gender "male" }} selected{{ end }}{{ end }}>Male</option>
                        <option value="female"{{ if .Data.formData }}{{ if eq .Data.formData.Gender "female" }} selected{{ end }}{{ else }}{{ if eq .Data.customer.gender "female" }} selected{{ end }}{{ end }}>Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" name="email" value="{{ if .Data.formData }}{{ .Data.formData.Email }}{{ else }}{{ .Data.customer.email }}{{ end }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="address" name="address" value="{{ if .Data.formData }}{{ .Data.formData.Address }}{{ else }}{{ .Data.customer.address }}{{ end }}">
                </div>
            </div>

            <div class="form-group row">
                <input type="hidden" readonly class="form-control-plaintext" id="id" name="id" value="{{ .Data.customer.id }}">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
{{end}}