{{define "title"}}Customers{{end}}

{{define "title_content"}}{{end}}

{{define "content"}}
    <div id="legend">
        <legend><a href="/customers">Customers</a> -> {{ .Data.customer.first_name }} {{ .Data.customer.last_name }}</legend>
    </div>

    <div class="row col-md-12">
        <form class="col-md-9 form-horizontal">
            <fieldset>
                <div class="form-group row">
                    <label for="customer_id" class="col-sm-4 col-form-label">Id</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_id" value="{{ .Data.customer.id }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_first_name" class="col-sm-4 col-form-label">First name</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_first_name" value="{{ .Data.customer.first_name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_last_name" class="col-sm-4 col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_last_name" value="{{ .Data.customer.last_name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_birth_date" class="col-sm-4 col-form-label">Birth date</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_birth_date" value="{{ .Data.customer.birth_date }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_gender" class="col-sm-4 col-form-label">Gender</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_gender" value="{{ .Data.customer.gender }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_email" value="{{ .Data.customer.email }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_address" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_address" value="{{ .Data.customer.address }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_active" class="col-sm-4 col-form-label">Active</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_active" value="{{ .Data.customer.active }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customer_registration_date" class="col-sm-4 col-form-label">Registration date</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="customer_registration_date" value="{{ .Data.customer.registration_date }}">
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="col-md-3">
            <div class="row">
                <a href="/customer/edit/{{ .Data.customer.id }}" class="btn btn-info">Edit customer</a>
            </div>

            <div class="row">&nbsp;</div>

            <div class="row">
                <form action="/customer/delete/{{ .Data.customer.id }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete customer</button>
                </form>
            </div>
        </div>
    </div>
{{end}}