{{define "title"}}Home{{end}}
{{define "content"}}
    <h1 class="cover-heading">Welcome to the start page.</h1>
    <p class="lead">This page is intended to greet the user. To see all our users, please click on the button at the bottom.</p>
    <p class="lead">
        <a href="/customers" class="btn btn-lg btn-secondary">Customers</a>
    </p>
{{end}}